$def with (inst, warn, render)

<html>
  <head>
    $:render.includes()
    <title>$BaseTitle</title>
  </head>
  <body>
    $if warn != "":
      <script>BootstrapDialog.show({type: BootstrapDialog.TYPE_DANGER, size: BootstrapDialog.SIZE_SMALL, title: 'Erro', message: '$:warn' });</script>
    <!-- Fixed navbar -->
    $:render.toolbar(render)
    <!-- Begin page content -->
    <div class="container">
      $if render.business is not None:
        <p> <i class="fa fa-user-plus fa-lg"></i> <a class="black-link" href="/criar_evento"> &nbsp; Criar evento </a></p>
      $else:
        <p> </p>
      
    </div>
    $:render.footer(render)
  </body>
</html>
