$def with (inst, warn, render)

<html>
  <head>
    $:render.includes()
    <title>$BaseTitle</title>
  </head>
  <body>
    $if warn != "":
      <script>BootstrapDialog.show({type: BootstrapDialog.TYPE_DANGER, size: BootstrapDialog.SIZE_SMALL, title: 'Erro', message: '$:warn' });</script>
    <!-- Fixed navbar -->
    $:render.toolbar(render)
    <!-- Begin page content -->
    <div class="container">
      <h2>$inst.name</h2>
      <br>
      $if render.user is not None:
        $if inst.id == render.user.id:
          <p> <i class="fa fa-user-plus fa-lg"></i> <a class="black-link" href="editar"> &nbsp; Editar </a></p>
      <br>
      <div class="row">
        <h3> Meus eventos: </h3>
          $for i in inst.confirmed:
            <div class="col-sm-3">
              <a href="$i.event.urlEncode()">
                <div class="thumbnail">
                  <img src="$i.event.picture" alt="...">
                  <div class="caption">
                    <h3>$i.event.name</h3>
                    <h5>$i.event.date</h5>
                    <p>$i.event.description</p>
                  </div>
                </div>
              </a>
            </div>
         </div>
    </div>
    $:render.footer(render)
  </body>
</html>
